/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

/* Themes */
:root {
    --md-text-font: "Inter";
}

[data-md-color-scheme="glean"] {
    --md-primary-fg-color: #343CED;
    --md-primary-fg-color--light: #9297F4;
    --md-primary-fg-color--lighter: #bdbcf6;
    --md-primary-fg-color--lightest: #e3e2fa;
    --md-primary-fg-color--dark: #0E149F;
    --md-primary-fg-color--darker: #090E6A;
    --md-primary-fg-color--darkest: #050735;
}

[data-md-color-scheme="slate"] {
    --md-hue: 225;
    --md-primary-fg-color: #343CED;
    --md-primary-fg-color--light: #9297F4;
    --md-primary-fg-color--lighter: #bdbcf6;
    --md-primary-fg-color--lightest: #e3e2fa;
    --md-primary-fg-color--dark: #0E149F;
    --md-primary-fg-color--darker: #090E6A;
    --md-primary-fg-color--darkest: #050735;
}

h1,
h2,
h3,
h4 {
    font-weight: 700 !important;
}

h1 {
    font-size: 1.6rem
}
h3 {
    font-size: 1.2rem

}

:root {
    --bs-blue: #377dff;
    --bs-indigo: #6610f2;
    --bs-purple: #343CED;
    --bs-pink: #d63384;
    --bs-red: #ed4c78;
    --bs-orange: #fd7e14;
    --bs-yellow: #f5ca99;
    --bs-green: #198754;
    --bs-teal: #00c9a7;
    --bs-cyan: #09a5be;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #8c98a4;
    --bs-gray-dark: #71869d;
    --bs-gray-100: #f7faff;
    --bs-gray-200: #f8fafd;
    --bs-gray-300: #e7eaf3;
    --bs-gray-400: #bdc5d1;
    --bs-gray-500: #97a4af;
    --bs-gray-600: #8c98a4;
    --bs-gray-700: #677788;
    --bs-gray-800: #71869d;
    --bs-gray-900: #1e2022;
    --bs-primary: #343CED;
    --bs-secondary: #71869d;
    --bs-success: #00c9a7;
    --bs-info: #09a5be;
    --bs-warning: #f5ca99;
    --bs-danger: #ed4c78;
    --bs-light: #f7faff;
    --bs-dark: #21325b;
    --bs-primary-rgb: 52, 60, 237;
    --bs-secondary-rgb: 113, 134, 157;
    --bs-success-rgb: 0, 201, 167;
    --bs-info-rgb: 9, 165, 190;
    --bs-warning-rgb: 245, 202, 153;
    --bs-danger-rgb: 237, 76, 120;
    --bs-light-rgb: 247, 250, 255;
    --bs-dark-rgb: 33, 50, 91;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 103, 119, 136;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: Inter, sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #677788;
    --bs-body-bg: #fff;
    --bs-border-width: 0.0625rem;
    --bs-border-style: solid;
    --bs-border-color: rgba(33, 50, 91, 0.1);
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.5rem;
    --bs-border-radius-sm: 0.3125rem;
    --bs-border-radius-lg: 0.75rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #9297F4;
    --bs-link-hover-color: #343CED;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fdf4eb
}

*,
::after,
::before {
    box-sizing: border-box
}

body {
    margin: 0;
    font-family: var(--md-text-font);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}

h1,
h3 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #1e2022
}


p {
    margin-top: 0;
    margin-bottom: 1rem
}

ul {
    padding-left: 2rem
}

ul {
    margin-top: 0;
    margin-bottom: 1rem
}

.small {
    font-size: .875em
}

img,
svg {
    vertical-align: middle
}

label {
    display: inline-block
}

button {
    border-radius: 0
}

button:focus:not(:focus-visible) {
    outline: 0
}

button,
input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit
}

button {
    text-transform: none
}

[type=button],
button {
    -webkit-appearance: button
}

[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled) {
    cursor: pointer
}

::-moz-focus-inner {
    padding: 0;
    border-style: none
}

::-webkit-datetime-edit-day-field,
::-webkit-datetime-edit-fields-wrapper,
::-webkit-datetime-edit-hour-field,
::-webkit-datetime-edit-minute,
::-webkit-datetime-edit-month-field,
::-webkit-datetime-edit-text,
::-webkit-datetime-edit-year-field {
    padding: 0
}

::-webkit-inner-spin-button {
    height: auto
}

::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-color-swatch-wrapper {
    padding: 0
}

::file-selector-button {
    font: inherit;
    -webkit-appearance: button
}

.list-inline {
    padding-left: 0;
    list-style: none
}

.list-inline-item {
    display: inline-block
}

.list-inline-item:not(:last-child) {
    margin-right: .25rem
}

.img-fluid {
    max-width: 100%;
    height: auto
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto
}

@media screen and (max-width:59.99em) {

    .landing-img {
        display: none;
    }
}

@media screen and (min-width:60em) {

    .container {
        max-width: 800px
    }

    .landing-img {
        display: none;
    }
}


@media screen and (min-width:76.25em) {

    .container {
        max-width: 1220px
    }

    .landing-img {
        display: flex;
    }
}



@media screen and (min-width:100em) {
    html {
        font-size: 137.5%
    }
    .container {
        max-width: 1340px
    }
}


@media screen and (min-width:125em) {
    html {
        font-size: 150%
    }
    .container {
        max-width: 1460px
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x))
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y)
}

@media (min-width:76.25em) {

    .col-md-5 {
        flex: 0 0 auto;
        width: 41.66666667%
    }

    .col-md-6 {
        flex: 0 0 auto;
        width: 50%
    }
}

@media (min-width:100em) {

    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%
    }
}

.form-label {
    margin-bottom: .5rem;
    font-size: .875rem;
    color: #1e2022
}

.form-control {
    display: block;
    width: 100%;
    padding: .6125rem 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1e2022;
    background-color: #fff;
    background-clip: padding-box;
    border: .0625rem solid rgba(33, 50, 91, .1);
    appearance: none;
    border-radius: .3125rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control {
        transition: none
    }
}

.form-control[type=file]:not(:disabled):not([readonly]) {
    cursor: pointer
}

.form-control:focus {
    color: #1e2022;
    background-color: #fff;
    border-color: rgba(140, 152, 164, .25);
    outline: 0;
    box-shadow: 0 0 1rem 0 rgba(140, 152, 164, .25)
}

.form-control::-webkit-date-and-time-value {
    height: 1.5em
}

.form-control:disabled {
    background-color: #f8fafd;
    opacity: 1
}

.form-control::file-selector-button {
    padding: .6125rem 1rem;
    margin: -.6125rem -1rem;
    margin-inline-end: 1rem;
    color: #1e2022;
    background-color: #fff;
    pointer-events: none;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    border-inline-end-width: .0625rem;
    border-radius: 0;
    transition: all .2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .form-control::file-selector-button {
        transition: none
    }
}

.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
    background-color: #f2f2f2
}

.form-control-sm::file-selector-button {
    padding: .5rem 1rem;
    margin: -.5rem -1rem;
    margin-inline-end: 1rem
}

.form-control-lg {
    min-height: calc(1.5em + 1.625rem);
    padding: .75rem 1rem;
    font-size: 1rem;
    border-radius: .3125rem
}

.form-control-lg::file-selector-button {
    padding: .75rem 1rem;
    margin: -.75rem -1rem;
    margin-inline-end: 1rem
}

.form-control-color:not(:disabled):not([readonly]) {
    cursor: pointer
}

.input-group>.form-control:not(:focus).is-valid,
.input-group>.form-floating:not(:focus-within).is-valid,
.input-group>.form-select:not(:focus).is-valid,
.was-validated .input-group>.form-control:not(:focus):valid,
.was-validated .input-group>.form-floating:not(:focus-within):valid,
.was-validated .input-group>.form-select:not(:focus):valid {
    z-index: 3
}

.input-group>.form-control:not(:focus).is-invalid,
.input-group>.form-floating:not(:focus-within).is-invalid,
.input-group>.form-select:not(:focus).is-invalid,
.was-validated .input-group>.form-control:not(:focus):invalid,
.was-validated .input-group>.form-floating:not(:focus-within):invalid,
.was-validated .input-group>.form-select:not(:focus):invalid {
    z-index: 4
}

.btn {
    --bs-btn-padding-x: 1rem;
    --bs-btn-padding-y: 0.6125rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #677788;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 0.0625rem;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 0.3125rem;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0 rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--md-text-font);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: all .2s ease-in-out
}

@media (prefers-reduced-motion:reduce) {
    .btn {
        transition: none
    }
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color)
}

.btn:focus-visible {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn-check:focus-visible+.btn {
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow)
}

:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color)
}

.btn-check:checked+.btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
.btn:first-child:active:focus-visible,
:not(.btn-check)+.btn:active:focus-visible {
    box-shadow: var(--bs-btn-focus-box-shadow)
}

.btn:disabled {
    color: var(--bs-btn-disabled-color);
    pointer-events: none;
    background-color: var(--bs-btn-disabled-bg);
    border-color: var(--bs-btn-disabled-border-color);
    opacity: var(--bs-btn-disabled-opacity)
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #343CED;
    --bs-btn-border-color: #343CED;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #2f6ad9;
    --bs-btn-hover-border-color: #2c64cc;
    --bs-btn-focus-shadow-rgb: 85, 145, 255;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #2c64cc;
    --bs-btn-active-border-color: #295ebf;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #343CED;
    --bs-btn-disabled-border-color: #343CED
}

.btn-link:focus-visible {
    color: var(--bs-btn-color)
}

.btn-lg {
    --bs-btn-padding-y: 0.75rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-border-radius: 0.3125rem
}

.card {
    --bs-card-spacer-y: 2rem;
    --bs-card-spacer-x: 2rem;
    --bs-card-title-spacer-y: 0.25rem;
    --bs-card-border-width: 0.0625rem;
    --bs-card-border-color: rgba(33, 50, 91, 0.1);
    --bs-card-border-radius: 0.5rem;
    --bs-card-box-shadow: 0rem 0.375rem 1.5rem 0rem rgba(140, 152, 164, 0.125);
    --bs-card-inner-border-radius: 0.4375rem;
    --bs-card-cap-padding-y: 2rem;
    --bs-card-cap-padding-x: 2rem;
    --bs-card-cap-bg: transparent;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 2rem 2rem;
    --bs-card-group-margin: 0.75rem;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
    background-color: var(--bs-card-bg);
    background-clip: border-box;
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius)
}

.card-body {
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    /* color: var(--bs-card-color) */
}

.card-title {
    margin-bottom: var(--bs-card-title-spacer-y)
}

.card-text:last-child {
    margin-bottom: 0
}

.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important
}

.d-block {
    display: block !important
}

.d-flex {
    display: flex !important
}

.h-100 {
    height: 100% !important
}

.flex-grow-1 {
    flex-grow: 1 !important
}

.flex-shrink-0 {
    flex-shrink: 0 !important
}

.mb-0 {
    margin-bottom: 0 !important
}

.mb-2 {
    margin-bottom: .5rem !important
}

.mb-3 {
    margin-bottom: 1rem !important
}

.mb-5 {
    margin-bottom: 2rem !important
}

.ms-1 {
    margin-left: .25rem !important
}

.ms-2 {
    margin-left: .5rem !important
}

.text-nowrap {
    white-space: nowrap !important
}

.text-primary {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb), var(--bs-text-opacity)) !important
}

.text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important
}

.text-body {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-body-color-rgb), var(--bs-text-opacity)) !important
}

.text-muted {
    --bs-text-opacity: 1;
    color: #8c98a4 !important
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important
}

.content-space-2 {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important
}

@media (min-width:60em) {

    .d-sm-flex {
        display: flex !important
    }

    .mb-sm-0 {
        margin-bottom: 0 !important
    }

    .ms-sm-4 {
        margin-left: 1.5rem !important
    }
}

@media (min-width:76.25em) {

    .align-items-md-center {
        align-items: center !important
    }

    .mb-md-0 {
        margin-bottom: 0 !important
    }
}

@media (min-width:100em) {

    .justify-content-lg-between {
        justify-content: space-between !important
    }

    .mb-lg-5 {
        margin-bottom: 2rem !important
    }

    .content-space-lg-3 {
        padding-top: 7.5rem !important;
        padding-bottom: 7.5rem !important
    }
}

a {
    text-decoration: none
}

:focus,
a:focus,
button:focus {
    outline-color: rgba(55, 125, 255, .5)
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0
}

::-moz-selection {
    color: #343CED;
    background-color: rgba(55, 125, 255, .1)
}

::selection {
    color: #343CED;
    background-color: rgba(55, 125, 255, .1)
}


.btn:hover {
    border-color: transparent
}

.btn:focus {
    box-shadow: none
}

.btn:active {
    border-color: transparent
}

.btn:disabled {
    border-color: transparent
}

.btn-primary:focus,
.btn-primary:hover {
    box-shadow: 0 4px 11px rgba(55, 125, 255, .35)
}

.card {
    border-width: 0;
    box-shadow: 0 .375rem 1.5rem 0 rgba(140, 152, 164, .125)
}

.card-title {
    margin-bottom: 0
}

.card-title:not(:last-child) {
    margin-bottom: .5rem
}

.card-text {
    color: #677788
}

.card-bordered {
    border-width: .0625rem
}

.card-transition {
    transition: all .2s ease-in-out
}

.card-transition:focus,
.card-transition:hover {
    transform: translateY(-.1875rem) !important
}

.input-card {
    display: flex;
    background-color: #fff;
    padding: .6125rem .6125rem;
    box-shadow: 0 .375rem 1.5rem 0 rgba(140, 152, 164, .125);
    border-radius: .5rem
}

.input-card .input-card-form {
    flex: 1 0 0%
}

.input-card .btn {
    flex: 0 0 auto
}

.input-card .form-control {
    border-width: 0
}

.input-card .form-control:focus {
    box-shadow: none
}

.input-card .input-card-form {
    position: relative
}

.input-card .input-card-form:not(:last-child) {
    padding-right: 1rem
}

.svg-icon {
    display: block;
    margin-top: .125rem
}

.svg-icon[class*=text-]>svg [fill]:not([fill=none]) {
    fill: currentColor !important
}

.svg-icon>svg {
    width: 3.125rem;
    height: 3.125rem
}

.link {
    font-weight: 600
}

.text-dark {
    color: #1e2022 !important
}


.container a {
    color: var(--md-typeset-a-color);
    word-break: break-word
}

a,
a:before {
    transition: color 125ms
}

.container a:focus,
.container a:hover {
    color: var(--md-accent-fg-color)
}

.container a:focus code,
.container a:hover code {
    background-color: var(--md-accent-fg-color--transparent);
    color: var(--md-accent-fg-color)
}

.container a code {
    color: var(--md-typeset-a-color)
}

.container a.focus-visible {
    outline-color: var(--md-accent-fg-color);
    outline-offset: .2rem
}